.kendoNyomtatvanyokTabla tr:hover {
  background-color: #a5d6a7;
}

.kendoNyomtatvanyokTabla tr.panelBarChildHeader:hover {
  background-color: white;
}

.kendoNyomtatvanyokTabla td.panelBarChildHeaderName {
  padding: 8px;
  padding-left: 16px;
  border-bottom: 2px solid #54a5d1;
  font-weight: bold;
}
