h2 {
  border-bottom: none;
}

.ugyfelszolgalat-comment-row {
  padding-top: 20px;
}

.ugyfelszolgalat-comment-name {
  font-size: 14px;
  font-weight: bold;
  display: inline;
}

.ugyfelszolgalat-comment-date {
  font-size: 12px;
  color: darkgray;
  display: inline;
  text-align: right;
}

.ugyfelszolgalat-comment-row-container {
  border-bottom: 1px solid darkgray;
}

.ugyfelszolgalat-comment-row-ures {
  text-align: center;
  padding-top: 20px;
}

.ugyfelszolgalat-header-top {
  padding-top: 10px;
  font-size: 20px;
  float: left;
}

.ugyfelszolgalat-header-taskname {
  margin-bottom: 20px;
}

.ugyfelszolgalat-header-img {
  padding-top: 10px;
  padding-left: 7%;
}

.ugyfelszolgalat-commentlist-header {
  font-size: 20px;
  padding-top: 2%;
}

.ugyfelszolgalat-commentlist-container {
  max-height: 550px;
}

.ugyfelszolgalat-gombok {
  display: inline;
  padding-left: 20px;
}

.ugyfelszolgalat-img {
  text-align: left;
}

.ugyfelszolgalat-focim {
  padding-top: 10px;
}

.ugyfelszolgalat-cim {
  padding-bottom: 50px;
}

.ugyfelszolgalat-hibaoldal {
  margin-top: 50px;
}

#UgyfelszolgalatGrid_FunctionCommandMenu_0 {
  position: absolute;
  top: -46px;
  right: 0px;
}

#UgyfelszolgalatGrid_FunctionCommandMenu_0.k-menu
  .k-animation-container
  .k-menu-group {
  width: 250px;
}
div#UgyfelszolgalatSearchComboboxLabelText {
  min-height: 35px;
}
div#ugyfelszolgalatSearchParams.row {
  padding-top: 10px;
}
#UgyfelszolgalatGrid_FunctionCommandMenu_0 .k-animation-container {
  left: -140px !important;
}
#UgyfelSzolgalatWindow .modalContainer .modalContent > .k-content {
  overflow-x: hidden;
}
.dbVisszaAllitasFigyelmeztetes {
  font-weight: bold;
  padding: 30px;
}

.ujUrlIgenylese-text {
  font-weight: bold;
  padding: 30px;
}
.ugyfelszolgalatLabel-text {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
}
.ujUrlIgenylese-url-div {
  font-weight: bold;
  display: inline-table;
}
.ujUrlIgenylese-url-div:first-child {
  padding-left: 30px;
}

.validateErrorLabelColor {
  color: red;
}

#CsatolmanyokInputContainer {
  padding-left: 20px;
  padding-right: 20px;
}
